.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 5px 0;
    z-index: 1000; }
   
    .card {
        border-radius: 0; 
    }
    body {
        max-width: 900px;
        margin: 0 auto;
        height: 100vh;
        background-color: #f0f0f0; 
        background-image: linear-gradient(to right, #d2d2d2 1px, transparent 1px), 
                          linear-gradient(to bottom,  #d2d2d2  1px, transparent 1px);
        background-size: 3px 3px;
        background-repeat: repeat ;
    }
    